.nbg-move-lr {
    animation: moveLR var(--anim-duration) linear infinite;
}

.nbg-move-lr.ngrad-big {
    animation: moveLRBig var(--anim-duration) linear infinite;
}

@keyframes moveLR {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes moveLRBig {
    from {
        transform: translateX(-90%);
    }

    to {
        transform: translateX(0%);
    }
}

.nbg-move-rl {
    animation: moveRL var(--anim-duration) linear infinite;
}

.nbg-move-rl.ngrad-big {
    animation: moveRLBig var(--anim-duration) linear infinite;
}

@keyframes moveRL {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes moveRLBig {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-90%);
    }
}

.nbg-move-tb {
    animation: moveTB var(--anim-duration) linear infinite;
}

.nbg-move-tb.ngrad-big {
    animation: moveTBBig var(--anim-duration) linear infinite;
}

@keyframes moveTB {
    from {
        transform: translateY(-50%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes moveTBBig {
    from {
        transform: translateY(-90%);
    }

    to {
        transform: translateY(0%);
    }
}

.nbg-move-bt {
    animation: moveBT var(--anim-duration) linear infinite;
}

.nbg-move-bt.ngrad-big {
    animation: moveBTBig var(--anim-duration) linear infinite;
}

@keyframes moveBT {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(-50%);
    }
}

@keyframes moveBTBig {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(-90%);
    }
}